<html>
	<head>
		<title>Demo | Turbo</title>
		<style>
			body { background-color: #4d4d4d; }
			body * { color: white; }
		</style>
	</head>
	<body>
		<h1>Hello from Turbo</h1>
		<p>This is a demo of the Turbo framework.</p>
		<pre id="output"></pre>
	</body>
	<script>
		(async () => {

			// Test API Request.
			const res = await fetch('/data');
			const data = await res.json();
			const el = document.getElementById('output');
			el.innerText = JSON.stringify(data);

			// WebSocket Test.
			const socket = new WebSocket('ws://localhost:3002/ws');
			socket.onopen = () => {
				console.log('WS Open');
				socket.send(JSON.stringify({ command: '::internal/language', content: {
					language: 'fr-FR'
				}}));
				socket.send(JSON.stringify({ command: '::internal/subscribe', content: {
					subscriptions: ['test1'],
				}}));
				socket.send(JSON.stringify({ command: '::internal/subscriptions' }));
				socket.send(JSON.stringify({ command: 'wsapi/index' }));
				setTimeout(() => {
					socket.send(JSON.stringify({ command: 'wsapi/translate' }));
				}, 1000);
			}
			socket.onclose = () => console.log('WS Closed');
			socket.onerror = (e) => console.error('WS Error', e);
			socket.onmessage = (e) => console.log('WS Message', JSON.parse(e.data));
		})();
	</script>
</html>
